@use "variables" as *;

// Button styles
.button {
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  background-color: $color-primary;
  color: $color-white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-primary-dark;
  }

  &.button-secondary {
    background-color: $color-secondary;

    &:hover {
      background-color: $color-secondary-dark;
    }
  }
}

// Card styles
.card {
  background-color: $color-surface;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba($color-black, 0.1);
  padding: 1.5em;
  margin-bottom: 1.5em;

  .card-title {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    color: $color-text-primary;
  }

  .card-content {
    color: $color-text-body;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $color-primary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  div {
    display: flex;
    align-items: center;
  }

  .image-link {
    display: flex;
    align-items: center;
    margin-right: 0.1rem;
    text-decoration: none;
    transition: color 0.3s ease;

    img {
      width: 24px;
      height: 24px;
      margin-right: 0.3rem;
    }

    .link-text {
      display: none;
    }
  }

  .link {
    margin-left: 1rem;
    text-decoration: none;
    color: #DADAFA;
    font-size: 1rem;
    transition: color 0.3s ease;

    &:hover {
      color: #007bff;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

    div {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .image-link {
      margin-right: 0;
    }

    .link {
      margin-left: 0;
      margin-right: 1rem;
    }
  }
}


// Form styles
.form-group {
  margin-bottom: 1em;

  label {
    display: block;
    margin-bottom: 0.5em;
    color: $color-text-secondary;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid $neutral-300;
    border-radius: 4px;
    font-family: $font-stack;
  }

  textarea {
    min-height: 100px;
  }
}

// Alert styles
.alert {
  padding: 1em;
  border-radius: 4px;
  margin-bottom: 1em;

  &.alert-success {
    background-color: $color-success;
    color: $color-white;
  }

  &.alert-info {
    background-color: $color-info;
    color: $color-white;
  }

  &.alert-warning {
    background-color: $color-warning;
    color: $color-text-primary;
  }

  &.alert-danger {
    background-color: $color-danger;
    color: $color-white;
  }
}
