<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}My Axum App{% endblock %}</title>
  <script src="/static/js/htmx.min.js"></script>
  <link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/icons.css" rel="stylesheet" type="text/css" />
  <style>
    @media print {
      .resume { margin: 0; box-shadow: none; }
      body { background-color: white; }
    }
  </style>
</head>
<body class="bg-gray-100">
  {% block content %} {% endblock %}
</body>
</html>
